<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <div class="parentcontainer">
            <div class="left-register-container">
                <h1>Begin your Very Munch experience today!</h1>
                <div class="left-register-subcontainer">
                    <span class="textfield-label-register">First Name</span>
                    <input type="text" id="firstname" name="firstname" class="textfield-signup">
                    <span class="textfield-label-register">Email</span>
                    <input type="text" id="email" name="email" class="textfield-signup">
                    <span class="textfield-label-register">Password</span>
                    <input type="password" id="password" name="password" class="textfield-signup">
                    <span class="textfield-label-register">Repeat Password</span>
                    <input type="password" id="repeatpassword" name="repeatpassword" class="textfield-signup">
                    <span class="textfield-label-register">Surname</span>
                    <input type="text" id="surname" name="surname" class="textfield-signup">
                    <span class="textfield-label-register">Phone</span>
                    <input type="text" id="phone" name="phone" placeholder="+63" class="textfield-signup">
                </div>
                <span class="buttoncontainer"><button id="button-register">Create Account</button></span>
            </div>
            <div class="right-register-container">
            </div>
        </div>
    </body>
</html>